### --- [ Sistema Operacional ] --- ###
# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
.directory
.trash/
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### --- [ IDEs & Editores ] --- ###
# Visual Studio Code
.vscode

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath
.factorypath

### --- [ Java & Maven ] --- ###
# Compilação e Artefatos
*.class
*.log
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.patch
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### --- [ Git ] --- ###
# Geralmente o Git não ignora a si mesmo, mas logs de patches e arquivos de conflito sim
*.orig
*.rej